<div class="span3 pull-left well well-small" style="margin: 0; padding: 5px;">
  <a href="#" class="thumbnail">
    <%= image_tag(@client.photo) %>
  </a>
</div>

<div class="span8 pull-right well well-small" style="margin: 0; padding: 5px;">
    <h1><%= @client.name %></h1>
    <h2>23 Jaar</h2>
</div>

<div class="clearfix"></div>

<h1 class="pull-left"><ul>Historie</ul></h1>
<div class="clearfix"></div>
<div class="well well-large">
  <table class="table table-striped table-hover">
    <% @dossiers.dossier_items.each do |d| %>
        <tr>
          <td><%= d.name %></td>
          <td><%= d.description %></td>
        </tr>
    <% end %>
  </table>
</div>
</div>