<div class="tabbable"> <!-- Only required for left/right tabs -->
  <ul class="nav nav-tabs">
    <li class="active"><a href="home">Home</a></li>
    <li><a href="agenda">Agenda</a></li>
    <li><a href="client">Cliënten</a></li>
    <li><a href="therapy">Therapieën</a></li>
    <li><a href="colleague">Collega's</a></li>
  </ul>

  <div class="page-header">
    <h2>Home</h2>
  </div>
</div>