<div class="tabbable">qqqqqq <!-- Only required for left/right tabs -->
  <ul class="nav nav-tabs">
    <li><a href="home">Home</a> </li>
    <li class="active"><a href="agenda">Agenda</a></li>
    <li><a href="client">Cliënten</a></li>
    <li><a href="therapy" data-toggle="tab">Therapieën</a></li>
    <li><a href="colleague" data-toggle="tab">Collega's</a></li>
  </ul>

  <div class="page-header well">
    <div class="tabbable"> <!-- Only required for left/right tabs -->
      <ul class="nav nav-tabs" id="clients_tabs">
        <li><a href="#week40" data-toggle="tab">Week 40</a></li>
        <li><a href="#week41" data-toggle="tab">Week 41</a></li>
        <li class="active"><a href="#week42" data-toggle="tab">Week 42</a></li>
      </ul>
      <div class="tab-content" id="clients_tabs_content">
        <div class="tab-pane" id="week40">
          <p>Week 40</p>
        </div>
        <div class="tab-pane" id="week41">
          <p>Week 41</p>
        </div>
        <div class="tab-pane active" id="week42">
          <p>Week 42 is vet cool</p>
        </div>


    <ul class="thumbnails">
      <li class="">
        <a href="<%= client_path(1) %>" class="thumbnail">
          <%= image_tag("Agenda.png") %>
        </a>
      </li>
    </ul>
      </div>
    </div>
  </div>
</div>